* {
  padding: 0;
  margin: 0;
  font-family: "Lobster", cursive;
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background-color: #446df6;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}

.left-side {
  float: left;
  background-color: #efefef;
  width: 20rem;
}

h4 {
  margin-top: 20px;
  margin-left: 10px;
  line-height: 5px;
}

.user-search {
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  float: left;
  width: 12em;
}

.search-btn {
  width: 3em;
  padding: 10px;
  padding-bottom: 17px;
  background-color: #2196f3;
  color: white;
  font-size: 17px;
  border-left: none; /* Prevent double borders */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #446df6;
}

form::after {
  content: "";
  clear: both;
}

#previous-search-holder {
  list-style-type: none;
  margin-bottom: 10px;
  width: 17rem;
  cursor: pointer;
}

li {
  color: #383838bb;
}

#city:hover {
  background-color: #c4c4c4;
}

.right-side {
  overflow: auto;
  display: grid;
}

.jumbo-info {
  margin-left: 2rem;
}

.city-info-title {
  font-size: 40px;
}

.card {
  background-color: #89daff;
}

/* ! Add media query later for responsiveness for mobile and website */
